.navbar-brand
    img
        width: 100px
.carousel-item
    position: relative
    img
        max-height: 650px
        //для тэга img object-fit это регулировка масштабирования
        object-fit: cover
.content
    position: absolute
    bottom: 10%
    left: 10%
    //задаём максимальную ширину что бы текст при изменении ширины страницы перескакивал на другую строку
    max-width: 850px
    color: white
    /* присвоили индекс 2 что бы не накрывался оверлеем */ 
    z-index: 2
//контейнер для затемнения изображения
.overlay
    position: absolute
    background: black
    width: 100%
    height: 100%
    //opacity прозрачность
    opacity: 0.3
// стилизуем кнопки   
.carousel-control-prev
    svg
        width: 50px
        height: 50px
        color: black   
.carousel-control-next 
    i
        font-size: 50px
        color: black  

