.wrapper {
	width: 500px;
	height: 1500px;
	border: 3px solid black;
	
}
.box-1 {
	background-color: green;
	height: 50px;
	position: relative;
	top: 20px;
    /* z-index у всех элементов по стандарту 0 Что бы наложить элементы друг на друга в каком-то порядке то прописываем в порядке возрастания(самый большой элемент будет первым) */
    /* поместили box-1 под box-2 */
    /* НО сам по себе не работает,а работает если у элемента задано position: */
    z-index: -1;
	
}

.box-2 {
	background-color: red;
	height: 50px;
}

.box-3 {
	background-color: blue;
	height: 50px;
}
/*Когда задаем position:relative,то объект можем позиционировать относительно своего места, можем отталкивать объект от соседних элементов или от обертки*/
/* position: relative; */

/* Когда задаем position:absolute элемент выпадает из потока и сжимается до размеров внутри текса(остальные объекты ведут себя так,как будто такого элемента нет) и мы его перемещаем по странице
   Но если у его род класса(.wrapper) задано position:relative то отталкиваем объект относительно его родителя(обертки)остальные элементы по прежнему его не видят(так работают рекламные всплывающие окна)
   
   Когда задаем position:fixed элемент ведёт себя также как и position:absolute но при прокрутки страницы будет всегда на том же месте что мы задали в св-вах
   Когда задаем position: sticky- Когда докручиваем страницу до элемента у которого position:sticky, он становится fixed
    
   Отталкиваемcя только от  4 сторон:
    top:
    left:
    right
    left: 
*/
